* {
  font-family: monospace;
  font-size: 12px;
}

window#waybar {
  background: transparent;
}

#workspaces,
#window,
#clock,
#battery,
#backlight,
#network,
#wireplumber,
#tray,
#idle_inhibitor,
#power-profiles-daemon,
#mpris {
  background-color: #222;
  padding: 4px 12px;
  margin-top: 8px;
  color: #eeeeee;
}

#tray {
  margin-right: 12px;
}

#workspaces {
  margin-left: 12px;
  padding: 0px;
}

/* Reset default style */
#workspaces button {
  padding: 0 5px;
  border-radius: 0;
}

#workspaces button.active {
  background-color: #64727d;
}

#power-profiles-daemon.performance {
  background-color: #802020;
}

#power-profiles-daemon.balanced {
  background-color: #1c3d5e;
}

#power-profiles-daemon.power-saver {
  background-color: #1e5c3a;
  color: #e0e0e0;
}

#battery.charging,
#battery.plugged {
  background-color: #002200;
}

#battery.critical:not(.charging) {
  background-color: #300;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #400;
  }
}
