(default) {
	encode zstd gzip
	handle_path /robots.txt {
		file_server * {
			root /var/www/robots/robots.txt
		}
	}
}

www.ny4.dev {
	import default
	redir https://blog.ny4.dev
}

# get the certificate for hysteria
tyo0.ny4.dev {
	import default
	redir https://blog.ny4.dev
}

ny4.dev {
	import default

	# Synapse
	header /.well-known/matrix/* Content-Type application/json
	header /.well-known/matrix/* Access-Control-Allow-Origin *
	handle_path /.well-known/matrix/* {
		file_server * {
			root /var/www/matrix
		}
	}

	# Mastodon
	header /.well-known/webfinger Access-Control-Allow-Origin *
	redir /.well-known/webfinger https://mastodon.ny4.dev{uri} permanent

	# TODO: Build Hugo blog with Nix
	# How do I use hugo modules without using FOD?
	route * {
		redir https://blog.ny4.dev
	}
}

pb.ny4.dev {
	import default
	reverse_proxy localhost:8200
}

ntfy.ny4.dev {
	import default
	reverse_proxy unix//run/ntfy-sh/ntfy.sock
}

pixiv.ny4.dev {
	import default
	basicauth {
		Guanran928 $2a$14$aI977hGZCX6H9IiyG7avdOFxXFGtlt7DcIahTkInPhEx9Sfhk7bri
	}
	reverse_proxy unix//run/pixivfe/pixiv.sock
}

id.ny4.dev {
	import default
	reverse_proxy localhost:8800
}

element.ny4.dev {
	import default
	root * @element@
	header X-Frame-Options SAMEORIGIN;
	header X-Content-Type-Options nosniff;
	header X-XSS-Protection "1; mode=block";
	header Content-Security-Policy "frame-ancestors 'self'";
	file_server
}

cinny.ny4.dev {
	import default

	@index {
		not path /index.html
		not path /public/*
		not path /assets/*
		not path /config.json
		not path /manifest.json
		not path /pdf.worker.min.js
		not path /olm.wasm
		path /*
	}

	root * @cinny@
	rewrite /*/olm.wasm /olm.wasm
	rewrite @index /index.html
	file_server
}

git.ny4.dev {
	import default
	reverse_proxy unix//run/forgejo/forgejo.sock
}

rss.ny4.dev {
	import default
	reverse_proxy localhost:9300
}

reddit.ny4.dev {
	import default
	reverse_proxy localhost:9400
}

vault.ny4.dev {
	import default
	reverse_proxy localhost:9500
}
