[Desktop Entry]
Name=Easy Effects
GenericName[cs]=Ekvalizér, kompresor a jiné zvukové efekty
GenericName[de]=Equalizer, Kompressor und andere Audioeffekte
GenericName[fr_FR]=Égaliseur, Compresseur et autres effets audio
GenericName[gl]=Ecualizador, compresor e outros efectos de son
GenericName[hr]=Ekvalizator, kompresor i drugi audio efekti
GenericName[id_ID]=Equalizer, Compressor and Other Audio Effects
GenericName[it_IT]=Equalizzatore, Compressore e Altri Effetti Audio
GenericName[nl]=Equalizer, compressor en overige audio-effecten
GenericName[pl]=Korektor, kompresor i inne efekty audio
GenericName[pt_BR]=Equalizador, Compressor e Outros Efeitos de Áudio
GenericName[ru]=Эквалайзер, компрессор и прочие звуковые эффекты
GenericName[sk]=Ekvalizér, kompresor a ďalšie audio efekty
GenericName[sv]=Equalizer, kompressor och andra ljudeffekter
GenericName[da]=Equalizer, Kompressor og Andre Lydeffekter
GenericName[nb_NO]=Tonekontroll, kompressor og andre lydeffekter
GenericName[es_MX]=Ecualizador, Compresor y Otros Efectos de Sonido
GenericName[es_CO]=Ecualizador, Compresor y Otros Efectos de Sonido
GenericName[tr]=Ekolayzır, Sıkıştırıcı ve Diğer Ses Efektleri
GenericName[zh_CN]=均衡器、压缩器和其他音效
GenericName[ro]=Egalizator, compresor și Alte Efecte Audio
GenericName[es_VE]=Ecualizador, Compresor y Otros Efectos de Sonido
GenericName[ja]=イコライザー、コンプレッサーなどのオーディオエフェクト
GenericName[ko]=이퀄라이저, 컴프레서 및 기타 오디오 효과
GenericName[es]=Ecualizador, compresor y otros efectos de sonido
GenericName[bg]=Еквалайзер, Компресор и други звукови ефекти
GenericName[uk]=Еквалайзер, компресор та інші звукові ефекти
GenericName[eu]=Ekualizatzailea, konprimatzailea eta beste audio-efektu batzuk
GenericName[nn]=Equalizer, kompressor og andre lydeffektar
GenericName[ca]=Equalitzador, Compressor i Altres Efectes d'Àudio
GenericName=Equalizer, Compressor and Other Audio Effects
Comment[cs]=Zvukové efekty pro programy využívající PipeWire
Comment[de]=Audio Effekte für PipeWire Anwendungen
Comment[fr_FR]=Effets audio pour les applications utilisant le serveur audio PipeWire
Comment[gl]=Efectos de son para aplicacións PipeWire
Comment[hr]=Zvučni efekti za PipeWire aplikacije
Comment[id_ID]=Efek Audio untuk Aplikasi PipeWire
Comment[it_IT]=Effetti Audio per Applicazioni Pipewire
Comment[nl]=Audio-effecten voor PipeWire-apps
Comment[pl]=Efekty dźwiękowe dla aplikacji PipeWire
Comment[pt_BR]=Efeitos de áudio para aplicativos que utilizam PipeWire
Comment[ru]=Звуковые эффекты для приложений PipeWire
Comment[sk]=Zvukové efekty pre aplikácie využívajúce PipeWire
Comment[sv]=Ljudeffekter för PipeWire-applikationer
Comment[da]=Lyd Effekter for PipeWire Applikationer
Comment[nb_NO]=Lydeffekter for PipeWire-programmer
Comment[es_MX]=Efectos de audio para aplicaciones PipeWire
Comment[es_CO]=Efectos de audio paras las aplicaciones PipeWire
Comment[tr]=PipeWire Uygulamaları için Ses Efektleri
Comment[zh_CN]=为使用 PipeWire 的应用提供音效
Comment[ja]=PipeWire アプリケーション用オーディオエフェクト
Comment[ko]=PipeWire 응용프로그램을 위한 오디오 효과
Comment[es]=Efectos de sonido para las aplicaciones PipeWire
Comment[af]=Oudio-effekte vir PipeWire toepassing
Comment[bg]=Звукови ефекти за приложения, използващи PipeWire
Comment[uk]=Аудіоефекти для додатків PipeWire
Comment[eu]=Audio-efektuak PipeWire aplikazioetarako
Comment[nn]=Lydeffektar for PipeWire-applikasjonar
Comment[ca]=Efectes d'àudio per a aplicacions PipeWire
Comment=Audio Effects for PipeWire Applications
Keywords[cs]=limiter;kompresor;dozvuk;ekvalizér;automatická hlasitost;
Keywords[de]=Limiter;Kompressor;Hall;Equalizer;Autovolumen;
Keywords[fr_FR]=limiteur ; compresseur ; réverbération ; égaliseur ; autovolume ;
Keywords[gl]=limitador;compresor;reverberación;ecualizador;volume automático;
Keywords[hr]=graničnik;kompresor;odjek;ekvalizator;automatska glasnoća zvuka;
Keywords[id_ID]=limiter;compressor;reverberation;equalizer;autovolume;
Keywords[it_IT]=limiter;compressore;riverbero;equalizzatore;autovolume;
Keywords[nl]=limiter;compressor;galm;equalizer;autovolume;
Keywords[pl]=limiter;kompresor;pogłos;korektor;autogłośność;
Keywords[pt_BR]=limitador;compressor;reverberação;equalizador;autovolume;
Keywords[ru]=лимитер;компрессор;ревербератор;эквалайзер;автогромкость;
Keywords[sk]=obmedzovač;kompresor;ozvena;ekvalizér;automatická hlasitosť;
Keywords[sv]=begränsare;kompressor;eko;utjämnare;autovolym;
Keywords[da]=begrænser;kompressor;efterklang;equalizer;autovolume;
Keywords[es_MX]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[es_CO]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[tr]=sınırlayıcı,kompresör,yankı,ekolayzır,otomatikses;yükseltici;sıkıştırıcı;
Keywords[zh_CN]=限幅器;压缩器;混响;均衡器;自动音量;
Keywords[ro]=limitator;compresor;reverberație;egalizator;autovolum
Keywords[es_VE]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[ja]=リミッター;コンプレッサー;リバーブ;イコライザー;オートボリューム;
Keywords[ko]=limiter;compressor;reverberation;equalizer;autovolume;리미터;컴프레서;리버브;이퀄라이저;자동음량조절;반향;잔향;자동음량;
Keywords[es]=limitador;compresor;reverberación;ecualizador;autovolumen;
Keywords[bg]=ограничител;компресор;ехо;еквалайзер;автосила;
Keywords[uk]=обмежувач;компресор;реверберація;еквалайзер;автогучність;
Keywords[eu]=mugatzailea;konprimatzailea;durunda;ekualizadorea;bolumen automatikoa;
Keywords[nn]=limiter;compressor;reverbation;equalizer;autovolume;
Keywords[ca]=limitador;compressor;reverberació;equalitzador;autovolum;
Keywords=limiter;compressor;reverberation;equalizer;autovolume;
Categories=GTK;AudioVideo;Audio;
Exec=flatpak run --branch=stable --arch=x86_64 --command=easyeffects com.github.wwmm.easyeffects
Icon=com.github.wwmm.easyeffects
StartupNotify=true
#DBusActivatable=true
X-GNOME-UsesNotifications=true
Terminal=false
Type=Application
X-Flatpak=com.github.wwmm.easyeffects
