[Desktop Entry]
Name[be]=Amberol
Name[ca]=Amberol
Name[cs]=Amberol
Name[da]=Amberol
Name[de]=Amberol
Name[el]=Amberol
Name[en_GB]=Amberol
Name[es]=Amberol
Name[eu]=Amberol
Name[fa]=امبرول
Name[fi]=Amberol
Name[fr]=Amberol
Name[fur]=Amberol
Name[gl]=Amberol
Name[he]=אמברול
Name[hr]=Amberol
Name[hu]=Amberol
Name[id]=Amberol
Name[is]=Amberol
Name[it]=Amberol
Name[ka]=Amberol
Name[ko]=앰버롤
Name[lt]=Amberol
Name[nl]=Amberol
Name[oc]=Amberol
Name[pl]=Amberol
Name[pt]=Amberol
Name[pt_BR]=Amberol
Name[ru]=Amberol
Name[sl]=Amberol
Name[sr]=Амберол
Name[sv]=Amberol
Name[tr]=Amberol
Name[uk]=Амберол
Name[zh_CN]=Amberol
Name=Amberol
GenericName[be]=Музычны прайгравальнік
GenericName[ca]=Reproductor de música
GenericName[cs]=Přehrávač hudby
GenericName[da]=Musikafspiller
GenericName[de]=Musikwiedergabe
GenericName[el]=Αναπαραγωγή μουσικής
GenericName[en_GB]=Music Player
GenericName[es]=Reproductor de música
GenericName[eu]=Musika-erreproduzigailua
GenericName[fa]=پخش‌کنندهٔ آهنگ
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Lecteur de musique
GenericName[fur]=Riprodutôr musicâl
GenericName[gl]=Reprodutor de música
GenericName[he]=נגן מוזיקה
GenericName[hr]=Glazbeni reproduktor
GenericName[hu]=Zenelejátszó
GenericName[id]=Pemutar Musik
GenericName[is]=Tónlistarspilari
GenericName[it]=Lettore musicale
GenericName[ka]=მედია დამკვრელი
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[ne]=सङ्गीत बजाउने
GenericName[nl]=Muziekspeler
GenericName[oc]=Lector de musica
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt]=Reprodutor de música
GenericName[pt_BR]=Reprodutor de músicas
GenericName[ru]=Музыкальный проигрыватель
GenericName[sl]=Predvajalnik glasbe
GenericName[sr]=Програм за пуштање музике
GenericName[sv]=Musikspelare
GenericName[tr]=Müzik Çalar
GenericName[uk]=Програвач музики
GenericName[zh_CN]=音乐播放器
GenericName=Music Player
Exec=flatpak run --branch=stable --arch=x86_64 --command=amberol --file-forwarding io.bassi.Amberol @@u %U @@
Icon=io.bassi.Amberol
Terminal=false
Type=Application
Categories=GNOME;GTK;Music;Audio;AudioVideo;
Keywords[be]=player;музычны;прайгравальнік;мультымедыя;аўдыя;прайграванне;плэер;
Keywords[cs]=hudba;přehrávač;média;audio;playlist;
Keywords[da]=musik;afspiller;medie;lyd;afspilningsliste;playliste;
Keywords[de]=music;player;media;audio;playlist;Musik;Wiedergabe;Medien;Audio;Wiedergabeliste;
Keywords[en_GB]=music;player;media;audio;playlist;
Keywords[es]=música;sonido;reproductor;medio;lista;reproducción;
Keywords[eu]=musika;erreproduzigailua;multimedia;audioa;erreprodukzio-zerrenda
Keywords[fa]=music;player:media;موزیک;آهنگ;موسیقی;صدا;صوت;آوا;پخش‌کننده;رسانه;
Keywords[fi]=music;player;media;audio;playlist;musiikki;ääni;soitin;soittolista;
Keywords[fr]=musique;son;lecteur;média;audio;liste de lecture;
Keywords[fur]=musiche;riprodutôr;multimedia;audio;liste di riproduzion;
Keywords[gl]=música;reprodutor;media;son;lista de reprodución;
Keywords[he]=מוזיקה;מוסיקה;שמע;צליל;נגן;מדיה;אודיו;רשימת השמעה;רשימות השמעה;פליליסט;
Keywords[hr]=glazba;reproduktor;medij;zvuk;popis izvođenja;
Keywords[hu]=zene;lejátszó;média;hang;lejátszási lista;
Keywords[id]=musik;pemutar;media;audio;daftar putar;
Keywords[is]=tónlist;spilari;margmiðlun;hljóð;spilun;spilunarlisti
Keywords[it]=musica;lettore;media;audio;playlist;
Keywords[ka]=music;sound;player;media;audio;playlist;
Keywords[ko]=music;음악;곡;player;재생;재생기;media;매체;미디어;audio;오디오;소리;음성;playlist;재생목록;목록;
Keywords[lt]=muzika;grotuvas;medija;garsas;grojaraštis;
Keywords[nl]=muziek;music;speler;player;media;audio;afspeellijst;playlist;
Keywords[oc]=musica;lector;mèdia;audio;àudio;lista de lectura;
Keywords[pl]=muzyka;music;odtwarzacz;player;plejer;media;multimedia;audio;lista odtwarzania;playlista;plejlista;MP3;empetrzy;empetrójka;
Keywords[pt]=música;músicas;music;som;reprodutor;leitor;player;multimédia;áudio;audio;lista de reprodução;playlist;
Keywords[pt_BR]=música;músicas;music;som;reprodutor;player;mídia;áudio;audio;lista de reprodução;playlist;
Keywords[ru]=music;player;media;audio;playlist;музыка;проигрыватель;медиа;аудио;список воспроизведения;
Keywords[sl]=music;player;media;audio;playlist;glasba;predvajalnik;predstavna vsebina;seznam predvajanja;skladbe;pesmi;
Keywords[sr]=музика;пуштач;медија;аудио;списак;music;player;media;audio;playlist;
Keywords[sv]=musik;spelare;media;audio;spellista;
Keywords[tr]=müzik;oynatıcı;çalıcı;çalar;müzik çalar;müzik oynatıcı;medya;ortam;ses;oynatma listesi;çalma listesi;
Keywords[uk]=music;player;media;audio;playlist;музика;звук;програвач;мультимедіа;звук;список відтворення;відтворення;
Keywords[zh_CN]=music;player;media;audio;playlist;音乐;播放器;媒体;音频;播放列表;
Keywords=music;player;media;audio;playlist;
StartupNotify=true
X-SingleMainWindow=true
X-Purism-FormFactor=Workstation;Mobile;
#DBusActivatable=true
MimeType=audio/mpeg;audio/wav;audio/x-aac;audio/x-aiff;audio/x-ape;audio/x-flac;audio/x-m4a;audio/x-m4b;audio/x-mp1;audio/x-mp2;audio/x-mp3;audio/x-mpg;audio/x-mpeg;audio/x-mpegurl;audio/x-opus+ogg;audio/x-pn-aiff;audio/x-pn-au;audio/x-pn-wav;audio/x-speex;audio/x-vorbis;audio/x-vorbis+ogg;audio/x-wavpack;inode/directory;
X-Flatpak=io.bassi.Amberol
