[Desktop Entry]
Type=Application
Name[ab]=Асимволқәа
Name[af]=Karakters
Name[ar]=المحارف
Name[be]=Сімвалы
Name[bg]=Знаци
Name[ca]=Caràcters
Name[ca@valencia]=Caràcters
Name[ckb]=نووسەکان
Name[cs]=Znaky
Name[da]=Tegn
Name[de]=Zeichen
Name[el]=Χαρακτήρες
Name[en_GB]=Characters
Name[eo]=Signoj
Name[es]=Caracteres
Name[eu]=Karaktereak
Name[fa]=نویسه‌ها
Name[fi]=Merkit
Name[fr]=Caractères
Name[fur]=Caratars
Name[fy]=Characters
Name[gd]=Caractaran
Name[gl]=Caracteres
Name[gu]=અક્ષરો
Name[he]=תווים
Name[hi]=वर्ण
Name[hr]=Znakovi
Name[hu]=Karakterek
Name[id]=Karakter
Name[ie]=Caracteres
Name[is]=Stafir
Name[it]=Caratteri
Name[ja]=文字
Name[ka]=სიმბოლოები
Name[kk]=Таңбалар
Name[ko]=문자 도구
Name[ln]=Minkomá
Name[lt]=Simboliai
Name[lv]=Rakstzīmes
Name[ml]=ക്യാരക്റ്റേഴ്സ്
Name[ms]=Aksara
Name[nb]=Tegn
Name[ne]=वर्ण
Name[nl]=Tekens en symbolen
Name[oc]=Caractèrs
Name[pa]=ਅੱਖਰ
Name[pl]=Znaki
Name[pt]=Caracteres
Name[pt_BR]=Caracteres
Name[ro]=Caractere
Name[ru]=Символы
Name[sat]=ᱪᱤᱱᱦᱟᱹ ᱠᱚ
Name[sk]=Znaky
Name[sl]=Znaki
Name[sr]=Таблица знакова
Name[sr@latin]=Tablica znakova
Name[sv]=Tecken
Name[ta]=எழுத்துக்கள்
Name[tg]=Аломатҳо
Name[tr]=Karakterler
Name[uk]=Символи
Name[zh_CN]=字符
Name[zh_TW]=字元
Name=Characters
Comment[ab]=Имариоу аԥшьы иалукааша асимволқәа рыԥшаареи рҭагалареи рзы
Comment[af]=Nutstoepassing om ongewone karakters te vind en in te voeg
Comment[ar]=تطبيق للبحث عن المحارف غير المألوفة و إدراجها
Comment[be]=Праграма, якая дазваляе шукаць і ўстаўляць незвычайныя сімвалы
Comment[bg]=Помощна програма за намирането и вмъкването на специални знаци
Comment[ca]=Una aplicació per a cercar i inserir caràcters inusuals
Comment[ca@valencia]=Una aplicació per buscar i inserir caràcters inusuals
Comment[ckb]=داوانامە بۆ دۆزینەوە و دانانی نووسە نائاساییەکان
Comment[cs]=Pomocná aplikace pro vyhledávání a vkládání méně běžných znaků.
Comment[da]=Hjælpeværktøj til at finde og indsætte usædvanlige tegn
Comment[de]=Hilfsprogramm zum Auffinden und Einsetzen von selten benutzten Zeichen
Comment[el]=Βοηθητική εφαρμογή εύρεσης και εισαγωγής σπάνιων χαρακτήρων
Comment[en_GB]=Utility application to find and insert unusual characters
Comment[eo]=Utila programo por trovi kaj enmeti nekutimajn signojn
Comment[es]=Aplicación de utilidad para buscar y encontrar caracteres poco habituales
Comment[eu]=Aplikazio bat da ohikoak ez diren karaktereak bilatu eta txertatzeko
Comment[fa]=ابزاری برای یافتن و درج نویسه‌های غیرمعمول
Comment[fi]=Sovellus epätavallisten merkkien etsintään ja syöttämiseen
Comment[fr]=Utilitaire pour chercher et insérer des caractères inhabituels
Comment[fur]=Aplicazion par cirî e inserî caratars insolits
Comment[fy]=Brûkberens applikaasje foar it fynen en ynfieren fan ôfwikende karakters
Comment[gd]=Goireas gus caractaran sònraichte a lorg ’s a chur ann
Comment[gl]=Utilidade para atopar e inserir caracteres non usuais
Comment[gu]=અક્ષરો શોધવા અને અસામાન્ય અક્ષરો દાખલ કરવા માટે એક સરળ ઉપયોગીતા એપ્લિકેશન
Comment[he]=יישום למציאה ולהכנסת תווים בלתי רגילים
Comment[hi]=असामान्य वर्ण को खोजने और लिखने के लिए अनुप्रयोग
Comment[hr]=Aplikacija pomagala za pronalazak i umetanje neuobičajenih znakova
Comment[hu]=Segédprogram alkalmazás szokatlan karakterek kereséséhez és beszúrásához
Comment[id]=Aplikasi utilitas untuk mencari dan menyisipkan karakter-karakter tak umum
Comment[ie]=Utensile por trovar e inserter rar caracteres
Comment[is]=Nytjatól til að setja inn óvenjuleg staftákn (t.d. sem eru ekki á lyklaborði)
Comment[it]=Applicazione per cercare e inserire caratteri insoliti
Comment[ja]=珍しい文字を探して挿入するためのユーティリティ
Comment[ka]=ხელსაწყო აპლიკაცია იშვიათი სიმბოლოების მოსაძებნად და ჩასასმელად
Comment[kk]=Сирек кездесетін таңбаларды табу және кірістіру үшін арналған қолданба
Comment[ko]=자주 사용하지 않는 문자를 찾아 입력하는 유틸리티 프로그램
Comment[ln]=Ntómo mpona koluka mpe bakisa minkoma ya momeseno tê
Comment[lt]=Programa neįprastų simbolių suradimui ir įterpimui
Comment[lv]=Utilītprogramma neparastu rakstzīmju meklēšanai un ievietošanai
Comment[ml]=അപൂര്‍വ്വ അക്ഷരങ്ങളെ കണ്ടെത്താനും ചേര്‍ക്കാനുമുള്ള  ഉപാധി
Comment[ms]=Aplikasi utiliti ringkas yang dapat mencari dan menyisip aksara yang jarang digunakan
Comment[nb]=Verktøy for å finne og sette inn uvanlige tegn
Comment[ne]=असामान्य वर्णहरू फेला पार्न र सम्मिलित गर्न उपयोगिक अनुप्रयोग
Comment[nl]=Hulpmiddel om bijzondere tekens te zoeken en in te voegen
Comment[oc]=Utilitari per cercar e inserir de caractèrs inabituals
Comment[pa]=ਅਸਧਾਰਨ ਅੱਖਰ ਲੱਭਣ ਤੇ ਸ਼ਾਮਲ ਕਰਨ ਲਈ ਸਹਾਇਕ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Narzędzie do wyszukiwania i wstawiania znaków specjalnych
Comment[pt]=Utilitário para localizar e inserir caracteres pouco habituais
Comment[pt_BR]=Aplicativo utilitário para localizar e inserir caracteres incomuns
Comment[ro]=Utilitar de găsire și introducere a caracterelor rare
Comment[ru]=Простое приложение, для поиска и вставки необычных символов
Comment[sat]=ᱮᱴᱟᱜ ᱞᱮᱠᱷᱟ ᱪᱤᱱᱦᱟᱹ ᱠᱚ ᱯᱟᱱᱛᱮ ᱟᱨ ᱵᱚᱞᱚ ᱪᱷᱚ ᱞᱟᱹᱜᱤᱫ ᱭᱩᱱᱤᱴᱭ ᱮᱯᱞᱤᱠᱮᱥᱚᱱ
Comment[sk]=Užitočná aplikácia na nájdenie a vloženie neobvyklých znakov
Comment[sl]=Program za iskanje in vstavljanje neobičajnih znakov
Comment[sr]=Помагало за налажење и уметање необичних знакова
Comment[sr@latin]=Pomagalo za nalaženje i umetanje neobičnih znakova
Comment[sv]=Nyttoprogram för att söka och infoga ovanliga tecken
Comment[tr]=Alışılmadık karakterleri bulmak ve eklemek için araç
Comment[uk]=Програма для пошуку та вставлення незвичайних символів
Comment[zh_CN]=查找和插入特殊字符的实用程序
Comment[zh_TW]=用於尋找並插入少用字元的公用程式
Comment=Utility application to find and insert unusual characters
Icon=org.gnome.Characters
Exec=flatpak run --branch=stable --arch=x86_64 --command=/app/bin/gnome-characters org.gnome.Characters
#DBusActivatable=true
StartupNotify=true
Categories=GNOME;GTK;Utility;X-GNOME-Utilities;
Keywords[ab]=Асимволқәа;иуникод;апунктуациа;аматематика;анбанқәа;ақьачақьқәа;emoji;emoticon;
Keywords[be]=characters;math;emoji;symbols;знакі;сімвалы;юнікод;унікод;пунктуацыя;матэматыка;літары;эмоцыі;эмодзі;эмоджы;смайл;
Keywords[bg]=знаци;уникод;юникод;пунктуация;математика;букви;емоджи;емотикони;усмивки;смайли;символи;characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[ca]=caràcters;unicode;puntuació;mates;lletres;emoji;emoticona;símbols;
Keywords[cs]=znak;znaky;unicode;unikód;interpunkce;interpunkční;znaménko;znaménka;matematické;symboly;značky;písmena;smajlík;smajlíci;emotikona;emotikony;
Keywords[da]=tegn;unicode;tegnsætning;matematik;bogstaver;emoji;smiley;humørikon;symboler;
Keywords[de]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;Zeichen;Zeichensetzung;Buchstaben;Smileys;Symbole;
Keywords[el]=χαρακτήρες;σημείο στίξης;μαθηματικά;γράμματα;εικονίδια διάθεσης;σύμβολα;characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[en_GB]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[es]=caracteres;unicode;puntuación;matemáticas;letras;emoji;emoticono;símbolos;
Keywords[eu]=karaktereak;unicode;puntuazioa;matematika;hizkiak;aurpegierak;emotikonoak;ikurrak;
Keywords[fa]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;نویسه‌ها;یونیکد;یونی‌کد;ریاضی;حروف;شکلک;نقطه‌گذاری;نمادها;
Keywords[fi]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;merkit;kirjaimet;hymiöt;symbolit;
Keywords[fr]=caractères;unicode;ponctuation;math;lettres;émoji;émoticône;symboles;
Keywords[fur]=caratars;unicode;puntuazion;matematiche;letaris;emoji;emoticon;simbui;
Keywords[gl]=caracteres;unicode;puntuación;matemático;letras;emoji;emoticono;símbolos;
Keywords[he]=תו;תווים;יוניקוד;פיסוק;מתמטיקה;אותיות;חייכנים;רגשונים;סמיילים;סמיילי;רגשון;חייכן;סמל הבעה;ניקוד;טעמים;סמלים;
Keywords[hi]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;वर्ण;यूनिकोड;विराम;चिह्न;गणित;अक्षर;इमोजी;इमोटिकॉन;
Keywords[hr]=znakovi;unikôd;interpunkcija;matematika;slova;smajli;emotkoin;simboli;
Keywords[hu]=karakterek;unicode;központozás;matematika;betűk;emodzsi;hangulatjel;szimbólumok;
Keywords[id]=karakter;unikode;tanda baca;matematika;huruf;emoji;emotikon;simbol;
Keywords[ie]=caracteres;unicode;punctuation;matematica;lítteres;emoji;emoticon;simboles;
Keywords[is]=stafir;staftákn;unicode;greinamerki;stærðfræði;tjáningartákn;emoji;merki;tákn;
Keywords[it]=caratteri;carattere;unicode;punteggiatura;matematica;lettere;emoji;emoticon;faccine;persone;simboli;
Keywords[ja]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;文字;ユニコード;句読点;数字;絵文字;顔文字;表情;感情;シンボル;
Keywords[ka]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
Keywords[kk]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;таңбалар;юникод;емле;математика;әріптер;эмодзи;смайлик;
Keywords[ko]=characters;문자;unicode;유니코드;punctuation;구두기호;구두점;math;수학;letters;언어문자;emoji;이모지;emoticon;이모티콘;symbols;심볼;기호;
Keywords[lt]=simboliai;unikodas;skyryba;matematika;raidės;šypsniukai;emotikonos;simboliai;
Keywords[lv]=rakstzīmes;unikods;interpunkcija;matemātika;burti;emocijas;simboli;
Keywords[ne]=क्यारेक्टरहरू;युनिकोड;विराम चिह्नहरू;गणित;अक्षरहरू;इमोजी;इमोटिकोन;प्रतीकहरू;
Keywords[nl]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;tekens;symbolen;interpunctie;wiskunde;
Keywords[oc]=caractèrs;unicode;pontuacion;math;letras;emoji;emoticòna;matematicas;simbol;
Keywords[pl]=znak;znaki;czcionka;font;pismo;unicode;unikod;interpunkcja;interpunkcyjne;matematyka;matematyczne;litery;emoji;emotikony;emotikonki;emotki;symbole;mapa;
Keywords[pt]=caracteres;unicode;pontuação;matemática;letras;emoji;emoticons;símbolos;
Keywords[pt_BR]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;caracteres;pontuação;matemática;letras;carinhas;emoção;símbolos;
Keywords[ru]=символы;юникод;пунктуация;математический;буквы;смайлики;emoji;emoticon;
Keywords[sat]=ᱪᱤᱱᱦᱟᱹ ᱠᱚ;ᱭᱩᱱᱤᱠᱳᱰ;ᱪᱤᱠᱷᱱᱟᱹ;ᱮᱞᱮᱠᱷ;ᱚᱞ ᱠᱚ;ᱤᱢᱳᱡᱤ;ᱤᱢᱳᱴᱤᱠᱳᱱ;ᱪᱤᱱᱦᱟᱹ ᱠᱚ;
Keywords[sk]=znaky;unicode;diakritika;matematika;znaky;písmená;emotikona;smajlík;symboly;
Keywords[sl]=znaki;unikod;unicode;matematika;ločila;črke;emotikoni;izrazne ikone;emoji;simboli;ločila;
Keywords[sr]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;знак;знакови;уникод;јуникод;интерпункција;математика;слова;емотикон;емотикони;симболи;
Keywords[sv]=tecken;unicode;skiljetecken;matematik;bokstäver;emoji;emoticon;humörsymbol;symboler;
Keywords[tr]=karakterler;unicode;evrensel kod;unikod;noktalama;matematik;harfler;emoji;surat;yüz;ifade;emoticon;simgeler;semboller;
Keywords[uk]=символи;унікод;пунктуація;математика;букви;літери;емоції;смайлики;символіка;
Keywords[zh_CN]=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;字符;万国码;标点符号;表情;字母;公式;数学;音标;符号;
Keywords[zh_TW]=characters;unicode;punctuation;math;letters;emoji;emoticon;字元;萬國碼;統一碼;標點;符號;數學;字母;繪文字;表情圖示;表情符號;輸入;
Keywords=characters;unicode;punctuation;math;letters;emoji;emoticon;symbols;
X-Purism-FormFactor=Workstation;Mobile;
X-Flatpak=org.gnome.Characters
